<footer _ngcontent-utg-c113="" class="docs-footer">
  <div _ngcontent-utg-c113="" class="docs-footer-list">
    <div _ngcontent-utg-c113="" class="docs-footer-logo">
      <div _ngcontent-utg-c113="" class="footer-logo"><img _ngcontent-utg-c113=""
                                                           src="../../../assets/img/homepage/angular-white-transparent.svg"
                                                           alt="Angular icon" class="docs-footer-angular-logo"><span
        _ngcontent-utg-c113=""><a _ngcontent-utg-c113="" href="https://angular.io">Learn Angular</a></span></div>
    </div>
    <div _ngcontent-utg-c113="" class="docs-footer-version"><img _ngcontent-utg-c113=""
                                                                 src="../../../assets/img/angular-material-logo.svg"
                                                                 alt="Angular Material icon"
                                                                 class="angular-material-logo"><span
      _ngcontent-utg-c113="" class="version">Current Version: 12.2.4</span></div>
    <div _ngcontent-utg-c113="" class="docs-footer-copyright">
      <div _ngcontent-utg-c113=""><span _ngcontent-utg-c113="">Powered by Google LLC ©2010-2021.</span><a
        _ngcontent-utg-c113="" href="https://github.com/angular/components/blob/master/LICENSE">Code licensed under
        an MIT-style License.</a><span _ngcontent-utg-c113="">Documentation licensed under CC BY 4.0.</span></div>
    </div>
  </div>
</footer>
