@import 'src/styles/variables';

.wrapper {
  background: url("~src/assets/img/BG.png") center center no-repeat fixed;
  background-size: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_mainBlock {
  height: 435px;
  width: 625px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 50px rgba(255, 255, 255, 0.6), 0 0 30px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;

  &:before {
    height: 435px;
    width: 625px;
    content: "";
    position: absolute;
    background: url("~src/assets/img/BG.png") center center no-repeat fixed;
    filter: blur(15px) brightness(2);
  }
}

.wrapper_mainBlock_return {
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.8;
  color: $white;
  font-size: 10px;
  font-weight: 200;
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.wrapper_mainBlock_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 480px) {
  .wrapper_mainBlock {
    position: static;
  }

  .wrapper_mainBlock_text {
    margin: 20px;
  }
}

@media screen and (max-width: 300px) {
  .wrapper_mainBlock_return {
    margin-left: 10px;
  }
}
